input {
    background-color: black;
    border-color: transparent;
    color: rgba(46, 255, 57, 0.795);
    font-family: sans-serif;
    font-size: 24px;
    outline: none;
}
select {
    background-color: black;
    border-color: transparent;
    color: rgba(46, 255, 57, 0.795);
    font-family: sans-serif;
    font-size: 24px;
    outline: none;
}
button {
    padding-left: 0%;
}
